*{
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

/*HEADER*/

.mainTitle{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 50px;
	padding: 80px;
	background: #212121;
	margin-top: 0;
}

.navi{
	border-bottom: 10px solid #212121;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.link1{
	background: #212121;
	color: #fff;
	border: 8px;
}

.link1:hover, .link:hover{
	color: #212121;
}

.link{
	color: #212121;
}

.btnPseudo{
	margin-top: 3px;
}


/*HOME*/


/*FORM*/

.champs{
	margin-top: 50px;
	width: 50%;
}

.btnSub{
	margin: 50px 0 30px 60px;
	background: #212121;
	color: #fff;
}

.formu{
	text-align: center;
}

.error{
	margin-top: 20px;
}

/*FOOTER*/

.footer{
	background: #212121;
	color: #9E9E9E;
	text-align: center;
	margin-top: 40px;
	padding-top: 15px;
}